<a href="https://colab.research.google.com/github/Anushree-B/assignments/blob/main/python_assignment_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#reading the dataset
df = pd.read_csv("Z:/python sem 2/sales.csv")

In [ ]:
df

           date  gender      region  sales
0     8/22/2022    Male  North-West  20381
1      3/5/2022    Male  North-East  14495
2      2/9/2022    Male  North-East  13510
3     6/22/2022    Male  North-East  15983
4     8/10/2022  Female  North-West  15007
..          ...     ...         ...    ...
995    6/2/2022  Female  North-West  14015
996   5/20/2022  Female  North-East  15503
997    4/2/2022    Male  North-East  18714
998   12/7/2022    Male  North-East  19910
999  12/19/2022  Female  North-West  16589

[1000 rows x 4 columns]

In [ ]:
df_group = df.groupby('region')

In [ ]:
df_group

In [ ]:
print(df.groupby('region').groups)

{'North-East': [1, 2, 3, 12, 13, 14, 15, 18, 19, 23, 24, 25, 26, 28, 31, 35, 40, 41, 45, 50, 51, 58, 59, 60, 63, 64, 67, 68, 72, 75, 76, 77, 80, 82, 83, 85, 87, 92, 94, 100, 105, 108, 109, 112, 113, 114, 115, 120, 121, 125, 127, 130, 134, 138, 139, 140, 141, 142, 146, 149, 155, 157, 164, 165, 176, 177, 179, 180, 188, 191, 193, 195, 199, 201, 205, 207, 211, 216, 218, 222, 224, 228, 231, 236, 242, 243, 246, 249, 254, 256, 259, 264, 265, 271, 272, 280, 283, 287, 288, 289, ...], 'North-West': [0, 4, 7, 11, 16, 17, 21, 29, 30, 34, 36, 38, 39, 42, 43, 44, 46, 48, 49, 52, 55, 56, 62, 66, 70, 71, 74, 79, 88, 89, 90, 91, 95, 98, 99, 103, 106, 116, 117, 119, 122, 123, 128, 129, 132, 137, 143, 144, 147, 148, 151, 153, 154, 156, 160, 161, 169, 171, 175, 178, 184, 185, 186, 198, 204, 206, 209, 212, 217, 221, 223, 225, 230, 233, 234, 235, 237, 240, 244, 251, 252, 253, 255, 260, 261, 263, 266, 267, 277, 278, 281, 285, 290, 291, 296, 297, 300, 318, 320, 321, ...], 'South': [5, 6, 8, 9, 10, 20, 22, 27, 32, 33, 37, 47, 53, 54, 57, 61, 65, 69, 73, 78, 81, 84, 86, 93, 96, 97, 101, 102, 104, 107, 110, 111, 118, 124, 126, 131, 133, 135, 136, 145, 150, 152, 158, 159, 162, 163, 166, 167, 168, 170, 172, 173, 174, 181, 182, 183, 187, 189, 190, 192, 194, 196, 197, 200, 202, 203, 208, 210, 213, 214, 215, 219, 220, 226, 227, 229, 232, 238, 239, 241, 245, 247, 248, 250, 257, 258, 262, 268, 269, 270, 273, 274, 275, 276, 279, 282, 284, 286, 292, 294, ...]}

In [ ]:
print(df_group.first())

                 date gender  sales
region
North-East   3/5/2022   Male  14495
North-West  8/22/2022   Male  20381
South        9/6/2022   Male  21792

In [ ]:
# counting members of group

print(df_group.count())

            date  gender  sales
region
North-East   347     347    347
North-West   322     322    322
South        331     331    331

In [ ]:
#accessing only group names of a groupby object
df_group.groups.keys()

dict_keys(['North-East', 'North-West', 'South'])

In [ ]:
#selecting group of south region

print(df_group.get_group('South'))

           date  gender region  sales
5      9/6/2022    Male  South  21792
6     8/21/2022    Male  South  20113
8    11/22/2022    Male  South  14594
9     1/16/2022  Female  South  24114
10   12/21/2022    Male  South  35154
..          ...     ...    ...    ...
972    6/9/2022    Male  South  22254
979  11/24/2022  Female  South  25591
981   12/5/2022    Male  South  34334
985   12/1/2022  Female  South  21282
994   9/29/2022    Male  South  21255

[331 rows x 4 columns]

In [ ]:
#average sales per region

print(df_group.mean())

                   sales
region
North-East  17386.072046
North-West  15257.732919
South       24466.864048

In [ ]:
#mean median mode

# Group by region and calculate mean, median, and variance
result = df_group['sales'].agg(['mean', 'median', 'var'])

# Display the result
print(result)

                    mean   median           var
region
North-East  17386.072046  17414.0  4.131225e+06
North-West  15257.732919  15337.5  1.311495e+07
South       24466.864048  24492.0  2.760139e+07

In [ ]:
df_group['sales'].transform('sum')

0      4912990
1      6032967
2      6032967
3      6032967
4      4912990
        ...
995    4912990
996    6032967
997    6032967
998    6032967
999    4912990
Name: sales, Length: 1000, dtype: int64

In [ ]:
# Calculate the total sales per region

df['sales_percentage'] = df['sales'] /(df_group['sales'].transform('sum'))*100

print(df)

           date  gender      region  sales  sales_percentage
0     8/22/2022    Male  North-West  20381          0.414839
1      3/5/2022    Male  North-East  14495          0.240263
2      2/9/2022    Male  North-East  13510          0.223936
3     6/22/2022    Male  North-East  15983          0.264928
4     8/10/2022  Female  North-West  15007          0.305456
..          ...     ...         ...    ...               ...
995    6/2/2022  Female  North-West  14015          0.285264
996   5/20/2022  Female  North-East  15503          0.256971
997    4/2/2022    Male  North-East  18714          0.310196
998   12/7/2022    Male  North-East  19910          0.330020
999  12/19/2022  Female  North-West  16589          0.337656

[1000 rows x 5 columns]

In [ ]:
# filtering rows where groups average sales price is less than 20000

# Calculate the average sales price for each group
group_avg = df_group['sales'].mean()

# Filter rows where the average sales price is less than 20000
filtered_df = df_group.filter(lambda x: group_avg[x.name] < 20000)

print(filtered_df)

           date  gender      region  sales  sales_percentage
0     8/22/2022    Male  North-West  20381          0.414839
1      3/5/2022    Male  North-East  14495          0.240263
2      2/9/2022    Male  North-East  13510          0.223936
3     6/22/2022    Male  North-East  15983          0.264928
4     8/10/2022  Female  North-West  15007          0.305456
..          ...     ...         ...    ...               ...
995    6/2/2022  Female  North-West  14015          0.285264
996   5/20/2022  Female  North-East  15503          0.256971
997    4/2/2022    Male  North-East  18714          0.310196
998   12/7/2022    Male  North-East  19910          0.330020
999  12/19/2022  Female  North-West  16589          0.337656

[669 rows x 5 columns]

In [ ]:
#calculate sum of all sales broken out by region and by gender

# Calculate the sum of sales broken out by region and gender
sum_by_region_gender = df.groupby(['region', 'gender'])['sales'].sum()

# Display the result
print(sum_by_region_gender)

region      gender
North-East  Female    3051132
            Male      2981835
North-West  Female    2455899
            Male      2457091
South       Female    4135688
            Male      3962844
Name: sales, dtype: int64

In [ ]:
# Rank sales by region and gender
df['sales_rank'] = df.groupby(['region', 'gender'])['sales'].rank()

# Display the result
print(df)

           date  gender      region  sales  sales_percentage  sales_rank
0     8/22/2022    Male  North-West  20381          0.414839       151.0
1      3/5/2022    Male  North-East  14495          0.240263        17.0
2      2/9/2022    Male  North-East  13510          0.223936         3.0
3     6/22/2022    Male  North-East  15983          0.264928        33.0
4     8/10/2022  Female  North-West  15007          0.305456        72.5
..          ...     ...         ...    ...               ...         ...
995    6/2/2022  Female  North-West  14015          0.285264        60.0
996   5/20/2022  Female  North-East  15503          0.256971        33.0
997    4/2/2022    Male  North-East  18714          0.310196       123.0
998   12/7/2022    Male  North-East  19910          0.330020       149.0
999  12/19/2022  Female  North-West  16589          0.337656        97.0

[1000 rows x 6 columns]

In [ ]:
filtered_df

           date  gender      region  sales  sales_percentage
0     8/22/2022    Male  North-West  20381          0.414839
1      3/5/2022    Male  North-East  14495          0.240263
2      2/9/2022    Male  North-East  13510          0.223936
3     6/22/2022    Male  North-East  15983          0.264928
4     8/10/2022  Female  North-West  15007          0.305456
..          ...     ...         ...    ...               ...
995    6/2/2022  Female  North-West  14015          0.285264
996   5/20/2022  Female  North-East  15503          0.256971
997    4/2/2022    Male  North-East  18714          0.310196
998   12/7/2022    Male  North-East  19910          0.330020
999  12/19/2022  Female  North-West  16589          0.337656

[669 rows x 5 columns]