<a href="https://colab.research.google.com/github/Anushree-B/assignments/blob/main/python_assignment_numpy_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Q1. generate a sequence of numbers in the form of a numpy array from 0 to 100 with gaps of 2

In [ ]:
seq=np.arange(0,101,2)
print(seq)

[  0   2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34
  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70
  72  74  76  78  80  82  84  86  88  90  92  94  96  98 100]

Q2. create a random vector of size 10 and abd replace max value by 0

In [ ]:
random_vect=np.random.rand(10)
print(f"Original vector:\n {random_vect}")
max_val=np.argmax(random_vect)
random_vect[max_val]=0
print("New vector: \n", random_vect)

Original vector:
 [0.17436643 0.69093774 0.38673535 0.93672999 0.13752094 0.34106635
 0.11347352 0.92469362 0.87733935 0.25794163]
New vector:
 [0.17436643 0.69093774 0.38673535 0.         0.13752094 0.34106635
 0.11347352 0.92469362 0.87733935 0.25794163]

Q3. load iris data from file and find all rows from iris data petal length > 1.3 and sepal length < 5.0

In [ ]:
df = pd.read_csv("Z:/python sem 2/iris.csv")
filtered_df = df[(df.iloc[:, 2] > 1.5) & (df.iloc[:, 0] < 5.0)]
print(filtered_df)

     sepal_length  sepal_width  petal_length  petal_width          species
11            4.8          3.4           1.6          0.2      Iris-setosa
24            4.8          3.4           1.9          0.2      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
30            4.8          3.1           1.6          0.2      Iris-setosa
57            4.9          2.4           3.3          1.0  Iris-versicolor
106           4.9          2.5           4.5          1.7   Iris-virginica

Q4. find min, max and std of sepal length

In [ ]:
min_sepal_length = np.min(df['sepal_length'])
max_sepal_length = np.max(df['sepal_length'])
std_dev_sepal_length = np.std(df['sepal_length'])

print("Minimum Sepal Length: ",min_sepal_length)
print("Maximum Sepal Length: ",max_sepal_length)
print("Standard Deviation of Sepal Length: ",std_dev_sepal_length)

Minimum Sepal Length:  4.3
Maximum Sepal Length:  7.9
Standard Deviation of Sepal Length:  0.8253012917851409

Q5. normalize sepal length values so that they can range from 0 to 1

In [ ]:
min_sepal_length = df['sepal_length'].min()
max_sepal_length = df['sepal_length'].max()

# Apply Min-Max normalization to sepal length
df['normalized_sepal_length'] = (df['sepal_length'] - min_sepal_length) / (max_sepal_length - min_sepal_length)

# Print the normalized data
print(df[['sepal_length', 'normalized_sepal_length']])

     sepal_length  normalized_sepal_length
0             5.1                 0.222222
1             4.9                 0.166667
2             4.7                 0.111111
3             4.6                 0.083333
4             5.0                 0.194444
..            ...                      ...
145           6.7                 0.666667
146           6.3                 0.555556
147           6.5                 0.611111
148           6.2                 0.527778
149           5.9                 0.444444

[150 rows x 2 columns]

Q6. insert null values randomly in petal length

In [ ]:
#np.random.seed(42)
num_na = 10
null_index = np.random.choice(df.index, num_na, replace=False)

# Insert null values in the 'petal_length' column at randomly selected indices
df.loc[null_index, 'petal_length'] = np.nan

print(df)

     sepal_length  sepal_width  petal_length  petal_width         species  \
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           NaN          1.8  Iris-virginica

     normalized_sepal_length
0                   0.222222
1                   0.166667
2                   0.111111
3                   0.083333
4                   0.194444
..                       ...
145                 0.666667
146                 0.555556
147                 0.611111
148                 0.527778
149                 0.444444

[150 rows x 6 columns]

In [ ]:
df['petal_length'].isna().sum()

10

Q7 find positions of missing values

In [ ]:
missing_value_positions = np.where(df['petal_length'].isnull())[0]

# Print the positions
print("Positions of Missing Values in 'petal_length' column:")
print(missing_value_positions)

Positions of Missing Values in 'petal_length' column:
[ 18  31  64  68  73  76  78  82 118 141]

Q8. drop all rows from iris that contains any null values

In [ ]:
df_cleaned = df.dropna()

In [ ]:
print("\nAfter dropping null values:")
print(df_cleaned)

After dropping null values:
     sepal_length  sepal_width  petal_length  petal_width         species  \
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

     normalized_sepal_length
0                   0.222222
1                   0.166667
2                   0.111111
3                   0.083333
4                   0.194444
..                       ...
145                 0.666667
146                 0.555556
147                 0.611111
148                 0.527778
149                 0.444444

[140 rows x 6 columns]

Q9. count unique values of species

In [ ]:
species_counts = df['species'].value_counts()

#print the result
print("Unique values of species and their counts:")
print(species_counts)

Unique values of species and their counts:
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

Q10. display number of rows per species

In [ ]:
rows_per_species = df.groupby('species').size()

#print the result
print("Number of rows per species:")
print(rows_per_species)

Number of rows per species:
species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64